<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   	<bean class="in.sp.beans.Address" id="addr">
		<property name="houseno" value="456" />
		<property name="city" value="Sangli" />
		<property name="pincode" value="416416" />
	</bean>
	
	<bean class="in.sp.beans.Student" id="std">
		<property name="name" value="shruti"/>
		<property name="roll" value="11"/>
		<property name="address" ref="addr"/>
	</bean>
</beans>