<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.sp.beans.Student" id="stdObj">
		<property name="name" value="Shruti"></property>
		<property name="roll" value="123"></property>
		<property name="subjects">
			<list>
				<value>Java</value>
				<value>C++</value>
				<value>React</value>
			</list>
		</property>
	</bean>

</beans>