<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   	<bean class="in.sp.beans.Address" id="addr">
		<constructor-arg value="178" />
		<constructor-arg value="Sangli" />
		<constructor-arg value="416416" />
	</bean>
	
	<bean class="in.sp.beans.Student" id="std">
		<constructor-arg value="Ram" />
		<constructor-arg value="77" />
		<constructor-arg ref="addr" />
	</bean>
</beans>