<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.sp.beans.Student" id="stdObj">
		<property name="name" value="Shruti"></property>
		<property name="roll" value="123"></property>
		<property name="subjects">
			<map>
				<entry key="Java" value="99"></entry>
				<entry key="React" value="100"></entry>
				<entry key="SpringBoot" value="100"></entry>
			</map>
		</property>
	</bean>

</beans>