<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="in.sp.beans.Address" id="address">
		<property name="houseno" value="4560"></property>
		<property name="city" value="Dwarka"></property>
		<property name="pincode" value="754196"></property>
	</bean>
	
	<bean class="in.sp.beans.Subjects" id = "subjects" autowire="byName">
		<property name="subjects">
			<list>
				<value>C</value>
				<value>Java</value>
			</list>
		</property>
	</bean>
	
	<bean class="in.sp.beans.Student" id="std" autowire="byName">
		<property name="name" value="Radha"></property>
		<property name="roll" value="11"></property>
		
	</bean>

</beans>