<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="Location" value="/in/sp/resources/student.properties"/>
	</bean>
	
    <bean class="in.sp.beans.Student" id="stdObj">
		<property name="name" value="${student.name}"></property>
		<property name="roll" value="${student.roll}"></property>
		<property name="subjects">
			<map>
				<entry key="Java" value="${student.subjects.java}"></entry>
				<entry key="React" value="${student.subjects.react}"></entry>
				<entry key="SpringBoot" value="${student.subjects.springboot}"></entry>
			</map>
		</property>
	</bean>

</beans>