<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.sp.beans.Address" id = "addr"
		c:houseno="456"
		c:city="Mumbai"
		c:pincode="123456"/>
		
	<bean class="in.sp.beans.Student" id="std"
		c:_0="121" 
		c:_1="Shruti"
		c:_2="95"
		c:address-ref="addr" />
		
	
	
</beans>